=render 'shared/header'
.question-title
  = image_tag  @group.image
.question-content
  .question-box
    .question-id
    .question-text
      -@questions.each do |question|
        %ul
          %li
            %h4
              .question-text
                %p
                  Q
                  = question.id
                %p
                  = question.text


-#※下記はすべてのquestionを一覧表示する※ 
-# .question-content
-#   .question-box
-#     .question-id
-#     .question-text
-#       -@questions.each do |question|
-#         %ul
-#           %li
-#             %h4
-#               .question-text
-#                 %p
-#                   Q
-#                   = question.id
-#                 %p
-#                   = question.text
-#           %br/
-#         -# .anser-box 
-#         -#   = form_for [@question, @anser] do |f|  
-#         -#     = f.text_field :text, class: 'form__message', placeholder: 'type a message'
-#         -#     = f.submit 'Send', class: 'form__submit'
-#     .lower-anser
-#     - if @anser.text.present?
-#       %p.lower-anser__content
-#         = @anser.text
-#   = paginate(@questions)