-# =render 'shared/header'
-# .question-content
-#   .question-box
-#     .question-id
-#     .question-text
-#       -@questions.each do |question|
-#         .question-text
-#           = question.question
-#           %br/
-#           .anser-box
-#             = form_for @anser do |f|
-#               = f.text_field :anser
-#   = paginate(@questions)