.main
  .main-header
    .main-header-picture
      =image_tag("background_image6.png",class:"main-header-picture-cloud")
      =image_tag("自分のことをもっと知る_.png",class:"main-header-picture-title")
      =image_tag("shi-to-to_logo6.png",class:"main-header-picture-moji")
      =image_tag("woman5.png",class:"main-header-picture-woman")
    =image_tag("line4.png",class:"main-header-picture-cloud2")

  .main-content
    .main-content__layar
      .main-content__layar__text
        =image_tag("woman6.png",class:"main-content__layar__text__woman")
        =image_tag("about.png",class:"main-content__layar__text__about")
        =image_tag("shi-to-toとは.png",class:"main-content__layar__text__logo")
        %p
          質問に答えて、自分のことを知るサービスです。
          %br    
          気持ちを整理したいときや人生の帰路に立ったとき、
          もっと自分のことを知りたいときなど
          %br
          Shi-to-to?を通して自分のことを見つめ直してみてくださいね。
        = link_to image_tag("question_logo5.png",class:"main-content__layar__text__anser"),"/groups/1/questions"
  