.header
  .header-bar
    .header-title
      = link_to image_tag("shi-to-to_logo.png", width: '200px'), root_path
    .header__right--btn
      = link_to "ログイン", new_user_session_path
      = link_to "新規登録", new_user_registration_path
    -#   -# = link_to "マイページ",edit_user_registration_path(current_user)
-# - if user_signed_in?
-#   .user_nav.grid-6
-#     = link_to "ログアウト", destroy_user_session_path, method: :delete
-#     = link_to  "投稿する", "/tweets/new", class: "post"
-# - else
-#   .grid-6
-#     = link_to "ログイン", new_user_session_path, class: 'post'
-#     = link_to "新規登録", new_user_registration_path, class: 'post'
 

