.main{
  width: 100%;
  margin: 100px auto;
  // height: 1500px;
  font-family: fantasy;
  
  &-header{
    height:580px;

    &-picture{
      &-cloud{
        top: 0px;
        left: 0px;
        position: absolute;
      }
      &-title{
        top: 480px;
        left: 170px;
        position: absolute;
      }
      &-moji{
        position: absolute;
        top: 310px;
        left: 130px;
        z-index: 1;
        animation: anime1 2s ease; 
      }
      @keyframes anime1 {
        0% {
            opacity:  0;                /* 透明度指定 */
            top: 150px;                  /* 位置指定 */
        }
        100% {
            opacity:  1;                /* 透明度指定 */
            top: 300px;                     /* 位置指定 */
        }
      }
      &-woman{
        position: relative;
        top: 100px;
        left: 800px;
      }
      &-cloud2{
        padding-top: 160px;
      }
    }
  }

  &-content{
    background-color: #4899bc;
    margin-top: 100px;
    padding-top: 35px;
    width: 100%;
    height: 970px;
    // background-size: 30px 30px;
    // // background-color: #00A0E9;
    // background-image: radial-gradient(#ffffff 15%, transparent 20%),
    //                   radial-gradient(#ffffff 15%, transparent 20%);
    // background-position: 0 0, 15px 15px;
    &__layar{
      margin: 0 auto;
      width: 95%;
      height: 95%;
      background: #fff;
      z-index: 8;
      background-size: 10px 10px;
    // background-color: #00A0E9;
      background-image: radial-gradient(#4899bc 2%, transparent 10%),
                        radial-gradient(#4899bc 2%, transparent 10%);
      background-position: 0 0, 10px 10px;
      &__text {
        color: gray;
        padding-top: 70px;
        &__woman{
          width: 150px;
          margin-top: 15px;
          margin-left: 290px;
          float: left;
        }
        &__about{
          width: 120px;
          margin-top: 30px;
          margin-left: 550px;
          display: flex;
        }
        &__logo{
          width: 350px;
          padding-top: 15px;
          margin-left: 425px;
          display: flex;
        }
        &__anser{
          padding-top: 100px;
          display: flex;
          margin: 0 auto;
        }
        p{
          line-height: 50px;
          font-size: 20px;
          padding: 80px 50px 0px 50px;
          text-align: center;
        }
      }  
    } 

    }
  &-group{
    margin: 100px auto;
    width: 50%;
    height: 270px;
    background-color: #4899bc;
    background-size: 20px 20px;
    background-image: radial-gradient(#ffffff 10%, transparent 10%), radial-gradient(#ffffff 10%, transparent 10%);
    background-position: 0 0, 10px 10px;
    &__layar{
      // margin: 0 auto;
      // width: 90%;
      // height: 90%;
      // background:  #ffffff;
      // position: relative;
      // top: 15px;
      &__box{
        margin: 0px 67px;
        position: absolute;
        &_logo{
          // width:800px;
          // margin:50px;
          // position: relative;
          // padding: 20px;
          // border-top: solid 2px #4899bc;
          // border-bottom: solid 2px #4899bc;
        }
        // &_logo:before, &_logo:after{
        //   content: '';
        //   position: absolute;
        //   top: -20px;
        //   width: 2px;
        //   height: -webkit-calc(100% + 40px);
        //   height: calc(100% + 40px);
        //   background-color: #4899bc;
        // }
        // &_logo:before {left: 20px;}
        // &_logo:after {right: 20px;}
        // &_logo img {
        //   margin:0px 120px;
        // }
        .group-title{
          text-align: center;
          padding: 20px 50px;
          ul{
            list-style: none;
            li{
              margin-top:50px;
            }
          }          
        }
      }
    }
  }
  .social-media {
    margin-top: 200px;
    .social-media__box {
      width: 150px;
      margin: 0 auto;
      ul{
        list-style: none;
        display: flex;
        padding-inline-start: 0px;
        li{
          padding: 0 10px;
        }
      }
    }
  }
}