.memory{
  background-color: #Fff;
  width: 100%;
  height: 100%;

  .memory-content{
    width: 700px;
    height: 800px;
    
    &-title{

      img{
        margin: 100px 390px; 
      }
    }

    &-box{

    }
  
  }
}