@media screen and (min-width:1282px){
  .question-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffbf00;
    position: fixed;
  }
  .question-content-main{
    background-color: #2d8ba8;
    width: 80%;
    float: right;
    font-family: fantasy;
    height:100vh;
  }

  .tag-image{
    width: 550px;
    z-index: 1000;
    left: 210px;
    margin: 50px 50px 20px 230px;
    float: left;
    position: absolute;
    
  }
  .question-woman2{
    position: absolute;
    z-index: 100;
    top: 44px;
    left: 1050px;
    width: 120px;
  }

  .question-content{
    position: relative;
    top: 82px;
    z-index: 90;
    width: 90%;
    height: 485px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: dotted 2px #062D51;
    outline-offset: -1em;
    margin-bottom: 30px;
    margin-top: 35px;

  }
  .question-title{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color:  #263859;
    margin: 0px auto;
    width: 500px;
    padding: 40px 0px;
    z-index: 110;
    
  }

  .question-box{
    padding-left: 100px;
    width: 700px;
    padding-top:40px;
    .question-text{

      h4{
        color:#263859;
      }
      p{
        margin: 0 0 20px;
        border-bottom: dotted;
        border-color: #000000;
        border-bottom-width: thin;
      }
      // a {
      //   color: #856e6e;
      //   text-decoration: none;
      //   padding-left:20px;
      //   font-size: 16px;
      // }
      a {
        color: #5a5a5a;
        text-decoration: none;
        padding-left:20px;
        font-size: 16px;
        font-weight: bold;
      }
      a:hover {
        background-color: #ffc9d7;
        }
    }


  }
}

@media screen and (min-width:1200px)and (max-width:1281px){
  .question-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffbf00;
    position: fixed;
    
  }
  .question-content-main{
    background-color: #2d8ba8;
    width: 80%;
    float: right;
    font-family: fantasy;
    height:100vh;
  }

  .tag-image{
    width: 550px;
    z-index: 1000;
    left: 210px;
    margin: 70px 50px 20px 230px;
    float: left;
    position: absolute;
    
  }
  .question-woman2{
    position: absolute;
    z-index: 100;
    top: 62px;
    left: 1050px;
    width: 120px;
  }

  .question-content{
    position: relative;
    top: 100px;
    z-index: 90;
    width: 90%;
    height: 485px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: dotted 2px #062D51;
    outline-offset: -1em;
    margin-bottom: 50px;
    margin-top: 35px;

  }
  .question-title{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color:  #263859;
    margin: 0px auto;
    width: 500px;
    padding: 40px 0px;
    z-index: 110;
    
  }

  .question-box{
    padding-left: 100px;
    width: 700px;
    padding-top:40px;
    .question-text{

      h4{
        color:#263859;
      }
      p{
        margin: 0 0 20px;
        border-bottom: dotted;
        border-color: #000000;
        border-bottom-width: thin;
      }
      // a {
      //   color: #856e6e;
      //   text-decoration: none;
      //   padding-left:20px;
      //   font-size: 16px;
      // }
      a {
        color: #5a5a5a;
        text-decoration: none;
        padding-left:20px;
        font-size: 16px;
        font-weight: bold;
      }
      a:hover {
        background-color: #ffc9d7;
        }
    }


  }
}

@media screen and (min-width:1000px)and (max-width: 1199px){
  .question-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffbf00;
    position: fixed;
  }
  .question-content-main{
    background-color: #2d8ba8;
    width: 80%;
    float: right;
    font-family: fantasy;
    height:100vh;
  }

  .tag-image{
    width: 480px;
    z-index: 1000;
    left: 100px;
    margin: 80px 50px 20px 230px;
    float: left;
    position: absolute;
    
  }
  .question-woman2{
    position: absolute;
    z-index: 100;
    top: 82px;
    left: 830px;
    width: 120px;
  }

  .question-content{
    position: relative;
    top: 120px;
    z-index: 90;
    width: 90%;
    height: 485px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: dotted 2px #062D51;
    outline-offset: -1em;
    margin-bottom: 100px;
    margin-top: 35px;

  }
  // .question-title{
  //   font-weight: bold;
  //   font-family: monospace;
  //   font-size: 28px;
  //   color:  #263859;
  //   margin: 0px auto;
  //   width: 500px;
  //   padding: 10px 0px;
  //   z-index: 110;
    
  // }

  .question-box{
    padding-left: 100px;
    width: 700px;
    padding-top:40px;
    .question-text{

      h4{
        color:#263859;
      }
      p{
        margin: 0 0 20px;
        border-bottom: dotted;
        border-color: #000000;
        border-bottom-width: thin;
      }
      // a {
      //   color: #856e6e;
      //   text-decoration: none;
      //   padding-left:20px;
      //   font-size: 16px;
      // }
      a {
        color: #5a5a5a;
        text-decoration: none;
        padding-left:20px;
        font-size: 16px;
        font-weight: bold;
      }
      a:hover {
        background-color: #ffc9d7;
        }
    }


  }
}

@media screen and (min-width: 500px) and (max-width: 999px){
  .question-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #2d8ba8;
  }
  .question-content-main{
    background-color: #2d8ba8;
    width: 80%;
    float: right;
    font-family: fantasy;
  }

  .tag-image{
    width: 50px;
    z-index: 1000;
    left: 210px;
    margin: 50px 50px 20px 230px;
    float: left;
    position: absolute;
    
  }
  .question-woman2{
    position: absolute;
    z-index: 100;
    top: 28px;
    left: 200px;
    width: 60px;
  }

  .question-content{
    position: relative;
    top: 30px;
    z-index: 90;
    width: 90%;
    height: 485px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: dotted 2px #062D51;
    outline-offset: -1em;
    margin-bottom: 30px;
    margin-top: 35px;

  }
  .question-title{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color:  #263859;
    margin: 0px auto;
    width: 170px;
    padding: 40px 0px;
    z-index: 110;
    
  }

  .question-box{
    padding-left: 10px;
    width: 250px;
    padding-top:40px;
    .question-text{

      h4{
        color:#263859;
      }
      p{
        margin: 0 0 20px;
        border-bottom: dotted;
        border-color: #000000;
        border-bottom-width: thin;
        font-size: 10px;
      }
      // a {
      //   color: #856e6e;
      //   text-decoration: none;
      //   padding-left:20px;
      //   font-size: 16px;
      // }
      a {
        color: #5a5a5a;
        text-decoration: none;
        padding-left:5px;
        font-size: 11px;
        font-weight: bold;
      }
      a:hover {
        background-color: #ffc9d7;
        }
    }


  }
}
@media screen and (min-width: 376px) and(max-width: 499px){
  .question-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #2d8ba8;
    // position: fixed;
  }
  .question-content-main{
    background-color: #2d8ba8;
    width: 100%;
    margin-top: 50px;
    font-family: fantasy;
    height: 600px;
  }

  .tag-image{
    width: 50px;
    z-index: 1000;
    left: 210px;
    margin: 50px 50px 20px 230px;
    float: left;
    position: absolute;
    
  }
  .question-woman2{
    position: absolute;
    z-index: 100;
    top: 116px;
    left: 260px;
    width: 90px;
  }

  .question-content{
    position: relative;
    // top: 30px;
    z-index: 90;
    width: 90%;
    height: 435px;
    margin: 10px auto;
    background-color: #ffffff;
    outline: dotted 2px #062D51;
    outline-offset: -1em;

  }
  .question-title{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color:  #263859;
    margin: 0px auto;
    width: 170px;
    padding: 40px 0px;
    z-index: 110;
    
  }

  .question-box{
    padding-left: 35px;
    width: 330px;
    padding-top:40px;
    .question-text{

      h4{
        color:#263859;
      }
      p{
        margin: 0 0 20px;
        border-bottom: dotted;
        border-color: #000000;
        border-bottom-width: thin;
        font-size: 10px;
      }
      // a {
      //   color: #856e6e;
      //   text-decoration: none;
      //   padding-left:20px;
      //   font-size: 16px;
      // }
      a {
        color: #5a5a5a;
        text-decoration: none;
        padding-left:5px;
        font-size: 11px;
        font-weight: bold;
      }
      a:hover {
        background-color: #ffc9d7;
        }
    }


  }
}

@media screen and (max-width: 375px){
.question-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #2d8ba8;
}
.question-content-main{
  background-color: #2d8ba8;
  width: 100%;
  margin-top: 38px;
  font-family: fantasy;
  height: 600px;
}

.tag-image{
  width: 50px;
  z-index: 1000;
  left: 210px;
  margin: 50px 50px 20px 230px;
  float: left;
  position: absolute;
  
}
.question-woman2{
  position: absolute;
  z-index: 100;
  top: 110px;
  left: 250px;
  width: 80px;
}

.question-content{
  position: relative;
  // top: 30px;
  z-index: 90;
  width: 90%;
  height: 435px;
  margin: 10px auto;
  background-color: #ffffff;
  outline: dotted 2px #062D51;
  outline-offset: -1em;

}
.question-title{
  font-weight: bold;
  font-family: monospace;
  font-size: 28px;
  color:  #263859;
  margin: 0px auto;
  width: 170px;
  padding: 40px 0px;
  z-index: 110;
  
}

.question-box{
  padding-left: 35px;
  width: 300px;
  padding-top:40px;
  .question-text{
    h4{
      color:#263859;
    }
    p{
      margin: 0 0 20px;
      border-bottom: dotted;
      border-color: #000000;
      border-bottom-width: thin;
      font-size: 10px;
    }
    a {
      color: #5a5a5a;
      text-decoration: none;
      padding-left:5px;
      font-size: 11px;
      font-weight: bold;
    }
    a:hover {
      background-color: #ffc9d7;
      }
  }


}
}