.question-wrapper{
  width: 100vw;
  height: 100vh;
}

.question-content-main{
  // background-color: #ffbf00;
  background-color: #2d8ba8;
  // background-image: radial-gradient(#ffffff 2%, transparent 10%), radial-gradient(#ffffff 2%, transparent 10%);
  // background-position: 0 0, 10px 10px;
  // background-size: 30px 30px;
  width: 80%;
  float: right;
  font-family: fantasy;
  // background-image: url("woman4.png");
}

.tag-image{
  width: 550px;
  z-index: 1000;
  left: 210px;
  margin: 50px 50px 20px 230px;
  float: left;
  position: absolute;
  
}
.question-woman2{
  position: absolute;
  z-index: 100;
  top: 44px;
  left: 1050px;
  width: 120px;
}

.question-content{
  position: relative;
  top: 82px;
  z-index: 90;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  outline: dotted 2px #062D51;
  outline-offset: -1em;
  margin-bottom: 30px;
  margin-top: 35px;

}
.question-title{
  font-weight: bold;
  font-family: monospace;
  font-size: 28px;
  color:  #263859;
  margin: 0px auto;
  width: 500px;
  padding: 40px 0px;
  z-index: 110;
  
}

.question-box{
  padding-left: 100px;
  width: 700px;
  padding-top:50px;
  .question-text{

    h4{
      color:#263859;
    }
    p{
      margin: 0 0 20px;
      border-bottom: dotted;
      border-color: #000000;
      border-bottom-width: thin;
    }
    // a {
    //   color: #856e6e;
    //   text-decoration: none;
    //   padding-left:20px;
    //   font-size: 16px;
    // }
    a {
      color: #5a5a5a;
      text-decoration: none;
      padding-left:20px;
      font-size: 16px;
      font-weight: bold;
    }
    a:hover {
      background-color: #ffc9d7;
      }
  }

}

