.question-content{
  width: 1100px;
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
  height: 1500px;
  color: rgb(26, 24, 24);
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  padding: 30px 30px;
  overflow: scroll;
  .question-title{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    color:  #263859;
    margin: 18px 150px 50px 110px;
    width: 400px;
    background: linear-gradient(transparent 30%, #ffff66 70%);
    
  }
  .question-box{
    padding-left: 100px;
  }
  .question-text{

    // ul {
    //   padding: 10px;
    // }
    // ul li {
    //   counter-increment: title;
    // }
    // ul li h3 {
    //   margin: 0 0 .5em;
    //   padding: .5em 1em;
    //   background: #93A1B3;
    //   color: #fff;
    //   font-weight: bold;
    // }
    // ul li h3::before {
    //   content: counter(title);
    //   padding-right: 10px;
    //   float: left;
    // }
    // ul li p {
    //   margin: 0 0 1em;
    // }
  }
  
  #anser_anser{
    width: 600px;
    height: 40px;
  }
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 175px;
    border-radius: 4px;
  }
}